$fieldWidth: 25vw;
$btnWidth: 15vw;
$imgSize: 92px;

@include container('profile') {
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.profile-title {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  &__icon {
    @include rounded($imgSize);
  }
  &__hover-message {
    @include rounded($imgSize) {
      visibility: hidden;
      color: $app__colorWhite;
      position: absolute;
      text-align: center;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(29, 106, 154, 0.72);
      font-weight: bold;
    }
  }
  &:hover .profile-title__hover-message {
    visibility: visible;
    cursor: pointer;
  }
  &__label {
    margin-top: $app__marginSmall;
    font-weight: bold;
  }
}

.profile {
  &__field {
    @include field($fieldWidth);
  }
  margin: $app__marginExtraLarge 0;
  &__label {
    font-weight: bold;
  }
  &__input {
    outline: none;
    border: 0;
    background: $app__colorSecondaryLight;
    text-align: right;
  }
}

.change {
  &__field {
    @include field($fieldWidth);
  }
  &__ref {
    @include astext() {
      color: $app__colorPrimary;
      &_alert {
        @include astext() {
          color: $app__colorError;
        }
      }
    }
  }
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
  justify-content: flex-end;
}

.profile-save {
  &__btn {
    @include btn-submit($app__colorPrimary, $app__colorWhite) {
      width: $btnWidth;
    }
  }
}
