@include container('profile') {
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.profile {
  &__field {
    @include field(25vw);
  }
  margin: $app__marginExtraLarge 0;
}

.profile-title {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  &__icon {
    @include rounded(92px);
  }
}

.change {
  &__field {
    @include field(25vw);
  }
  &__ref {
    @include astext() {
      color: $app__colorPrimary;
      &_alert {
        @include astext() {
          color: $app__colorError;
        }
      }
    }
  }
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
  justify-content: flex-end;
}