$app__colorPrimary: #3b5998;
$app__colorPrimaryLight: #8b9dc3;
$app__colorSecondary: #dfe3ee;
$app__colorSecondaryLight: #f7f7f7;
$app__colorWhite: 	#ffffff;
$app__colorDark: #333333;
$app__colorError:  #fa3e3e;

$app__radiusBorder: 8px;
$app__marginSmall: 8px;
$app__marginMedium: 16px;
$app__marginLarge: 32px;
$app__marginExtraLarge: 64px;

$app__btnHeight: 2rem;
$app__inputHeight: 2rem;
$app__shadowCommon: 0 8px 6px -6px $app__colorDark;
$app__shadowTop: 0px -4px 4px rgba(50, 50, 50, 0.75);
$app__thicknessBorder: 2px;
$app__borderChat: 1px solid #888;