@mixin reg-action($action, $height) {
  .#{$action} {
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    justify-content: space-between;
    padding: $app__marginMedium;
    width: 300px;
    box-shadow: $app__shadowCommon;
    border: $app__thicknessBorder solid $app__colorPrimaryLight;
    border-radius: $app__radiusBorder;

    &__title {
      flex: 0 1 10%;
      display: flex;
      justify-content: center;
    }

    &__form {
      flex: 0 1 30%;
      display: flex;
      min-height: 200px;
      flex-flow: column wrap;
      justify-content: center;
      align-items: stretch;
    }

    &__input {
      @include input-field($app__inputHeight);

      &.#{$action}_error {
        @include input-field($app__inputHeight, $app__colorError, $app__colorError);
      }
    }

    &__btn-group {
      flex: 0 1 20%;
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-end;
    }

    &__btn_main {
      @include btn-submit($app__colorPrimary, $app__colorWhite) {
        margin-bottom: $app__marginMedium;
      }
    }

    &__btn_secondary {
      @include btn-submit($app__colorSecondary, $app__colorDark)
    }
  }
}

.validatable {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: stretch;
  justify-self: stretch;
}

@include validatable('auth') {
  bottom: 21px;
  height: 24px;
  font-size: 0.9rem;
}

@include validatable('profile') {
  bottom: 0;
  height: 16px;
  font-size: 0.8rem;
}
